@charset "UTF-8";
/*----------- Переменные ------------*/
$input-placeholder-color: #666;
$main-font-family: "open_sansregular", sans-serif;
$heading-font-family: 'Source Sans Pro', sans-serif;
$main-background-color: #19bd9a;
$main-text-color: #fff;
$border-radius: 6px;
$main-font-size: 14px;
/*----------- Конец Переменные ------------*/


* {  
  box-sizing: border-box;
}
*:before,
*:after {  
  box-sizing: border-box;
}


*::-webkit-input-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
*:-moz-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
*::-moz-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
html,
body {
	height: 100%;
	background-color: $main-background-color;
}
body {	
	font-family: $main-font-family;
	font-size: $main-font-size;
}
h1,
h2,
h3 {
	text-transform: uppercase;
}

h1 {
	font-family: $heading-font-family;
	font-weight: 300;
	font-size: 1.75em;
	line-height: 70px;
}
h2 {
	font-family: $heading-font-family;
	font-weight: 300;
	font-size: 1.42857143em;
	line-height: 12px;
}
h3 {
	font-family: $heading-font-family;	
	font-size: 1.42857143em;
	line-height: 125px;
}


/*----------------Навигация------------------*/
.nav {
	list-style: none;
	li {
		float: left;
	}
	&__item{
		text-decoration: none;
		display: block;
		padding: 5px;
	}
}
/*----------------Навигация END------------------*/

.header__content {
	text-align: center;
	height: 100%;
}